@media screen and (max-width: 992px) {
    h2{
        text-align: center;
    }
    .navbar-nav i{
        display: none;
    }
    .resp-item{
        display: none;
    }
    
    video, .img-loop{
        display: none;
    }
}

body {
    background-color: rgb(15, 14, 14);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(32, 32, 32);
}

::-webkit-scrollbar-thumb {
    background: #948d8d6a;
    border-radius: 6px;
}

/* Navbar personalizada */
.container-fluid{
    margin: 0px 40px;
}
.navbar {
    padding: 10px;
}
.nav-navbar{
    display: flex;
    list-style: none;
}
i{
    font-size: 19px;

}
.resp-item{
    margin-left: 20px;
}
.navbar-nav {
    width: 100%;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

.navbar-toggler {
    transition: transform 0.3s ease-in-out;
    border: none;
    transform: scale(1.44);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:hover {
    transform: scale(1.24);
}

.nav-link {
    color: rgba(255, 255, 255, 0.879);
    font-size: 13px;
}

.nav-link:hover {
    color: white;
}

.img-panda {
    width: 55px;
}

.index-main {
    padding: 20px;
}

/* Carrossel */
.carousel {
    display: block;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

/* Lista de filmes */
.container-box{
    margin-top: 30px;
}

.title-film-h {
    color: rgba(255, 255, 255, 0.856);
    font-weight: 560 ;
    font-size: 15px;
}

.film-grid {
    display: grid;
    text-align: center;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.img-loop{
    width: 100%;
    cursor: pointer;
}
.img-grid {
    width: 100%;
    border-radius: 6%;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.img-grid:hover{
    transform: scale(1.20);
}

.grid-item {
    list-style: none;
}

.d-block{
    padding: 0;
}

video{
    width: 60%;
}
.container-view{
    display: flex;
    /* border: solid; */
}
