body {
    background-color: rgb(10, 10, 10);
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 2px; 
    height: 8px; 
}

::-webkit-scrollbar-track {
    background: rgb(32, 32, 32); /* Cor de fundo da pista da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #948d8d6a;
    border-radius: 6px; 
}

/* Navbar personalizada */
.navbar {
    padding: 10px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

.navbar-toggler {
    transition: transform 0.3s ease-in-out;
    border: none;
    transform: scale(1.44);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:hover {
    transform: scale(1.24);
}

.nav-link {
    color: rgba(255, 255, 255, 0.671);
    font-size: 16px;
}

.nav-link:hover {
    color: white;
}

.img-panda {
    width: 62px;
}
main{
    margin-top: 50px;
    padding: 22px;
}

/* Carrossel */
.carousel {
    padding: 10px 30px 0px 30px;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

/* Lista de filmes */
.title-film-h {
    color: rgba(238, 228, 228, 0.532);
    font-weight: lighter;
    font-size: 25px;
}

.itens-filmes {
    list-style: none;
    display: flex;

}
.d-block{
    border-radius: 30px;
}

.films {
    padding-right: 10px;
    padding-bottom: 20px;
}

.films-img {
    width: 150px;
    border-radius: 20px;
    transition: .5s ease-in-out;
}
.films-img:hover{
    cursor: pointer;
    padding: 7px;
}
.scrow{
    overflow-x: auto; 
    padding: 0;
}

/* Film CSS --------------------- */

.film-list{
    display: inline-block;
}